<!-- product-get.component.html -->

<h5>List of products</h5>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Product Name</td>
      <td>Product Description</td>
      <td>Product Price</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.ProductName }}</td>
      <td>{{ product.ProductDescription }}</td>
      <td>{{ product.ProductPrice }}</td>
      <td>
        <button
          [routerLink]="['/edit', product._id]"
          class="btn btn-primary btn-sm"
        >
          Edit
        </button>
        <button
          (click)="deleteProduct(product._id)"
          class="btn btn-danger btn-sm"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
